.DS_Store

*.xcworkspacedata

*.xcuserstate

build

.idea
Release/*

build_win64_release/*
DB/*
/stats.log

.env.client
.env.seed
scripts/mm2/client/DB
scripts/mm2/client/stats.log
scripts/mm2/client/unparsed.txt
scripts/mm2/seed/DB
scripts/mm2/seed/stats.log
scripts/mm2/seed/unparsed.txt

/marketmaker_depends
/x64

# JS artefacts
/js/node_modules
/js/*.dll
/js/*.wasm
/js/mm2
/js/mm2.exe
/js/.mm2.*

# Rust artefacts
/MM_DATETIME
/MM_DATETIME.tmp
/MM_VERSION
/MM_VERSION.tmp
/target

# Subcrate artefacts
/mm2src/*/target

# Private IDE configuration
/mm2src/*/.vscode/tasks.json
/mm2src/*/.vscode/c_cpp_properties.json
/.vscode/settings.json
/.vscode/tasks.json
/.vscode/c_cpp_properties.json

# IDE artefacts
/.vscode/ipch
/mm2src/*/.vscode/ipch

# coins configuration file
/coins
# MM2 conf to avoid occasional adding to git by someone
MM2.json

# vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]